/*Les differentes polices d'ecritures*/
@font-face{
    font-family: 'Bernina';
    src: url(fac_evaluation_n1/fonts/BerninaSans-Web-CondensedBold.woff2);
}
@font-face {
    font-family: 'GothamHTF';
    font-style: normal;
    font-weight: normal;
    src: url(fac_evaluation_n1/fonts/GothamHTF-Book.woff);
}

/*Les differents breaking points (avec ordre d'image qui change)*/
@media only screen and (max-width: 480px){
    #gym {
        order: 3;
    }
    #smartphone{
        order: 1;
    }
    #cryo {
        order: 2;
    }
    .copyright{
        display: initial;
    }
}
@media only screen and (min-width: 768px){
    #gym {
        order: 1;
    }
    #smartphone{
        order: 2;
    }
    #cryo {
        order: 3;
    }
    .copyright{
        display: initial;
    }
}

body{
    background-color: #F7FFFF;
    margin: 0;
    color: #114054;
}

/*1ER CONTAINER*/
.container{
    display: flex;
    flex-wrap: wrap;
}
.container img{
    width: 100%;
    height: auto;
}

.frontimg{
    position: relative;
}

/*Bandeau ...*/
/*.bandeau{
    color: #F7FFFF;
    position: absolute;
    font-family: Bernina;
    font-size: larger;
    font-style: bold;
    width: auto;
    height: 50px;
    background-color: #F7FFFF;
    opacity: 0.2;
}
.bandeau span{
    font-size: xx-small;
}*/

/*CONTAINER POUR LE BANDEAU ROUGE*/
.promo{
    font-family: GothamHTF;
    font-size: small;
    transform: rotate(20deg);
    width: 150px;
    height: auto;
    background-color: #800426;
    color: #F7FFFF;
    top: 20px;
    right: 50px;
    border-radius: 5px;
    position: absolute;
}
.promo span{
    font-size: xx-small;
}

/*2ND CONTAINER*/
.credentials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}
/*Button Prendre RDV*/
#rdv{
    font-family: GothamHTF;
    background-color: #F7FFFF;
    color: #114054;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: medium;
    padding: 5px;
}

/*3RD CONTAINER*/
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Bernina;
    color: #114054;
    margin-left: 20%;
    margin-right: 20%;
}

.box p{
    text-align: center;
}

/*4TH CONTAINER*/
.copyright{
    display: flex;
    justify-content: flex-end;
    margin-left: 20%;
    margin-right: 20%;
    font-family: GothamHTF;
}

/*5TH CONTAINER*/
.bottomBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: GothamHTF;
    max-width: 100%;
    height: auto;
}
.bottomBox img{
    border-radius: 50%;
}
.bottomBox p{
    text-align: center;
}

